@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>HOLA MUNDO</p>
     @Html.ActionLink("Ir a lista", "ListadoProductos", "Productos")
</div>
