@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <form method="post">

        <p>Introduce tu nombre</p>
        <input value="" name="nombre" />
        <button type="submit">Enviar</button>

    </form>
</div>
