@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Hola son las @DateTime.Now.Hour:@DateTime.Now.Minute</h1>
    @if (DateTime.Now.Hour > 12)
    {
        <p>Ya ha pasado el medio día</p>
    }
    else
    {
        <p>Es antes del medio día</p>
    }
</div>
