@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hola son las @TimeOnly.FromDateTime(DateTime.Now)</p>
    @if (TimeOnly.FromDateTime(DateTime.Now) > new TimeOnly(12, 0))
    {
        <p>Ya ha pasado el medio día</p>
    }
    else
    {
        <p>Es antes del medio día</p>
    }
</div>
