@using ListadoPersonas.Entidades
@model List<ListadoPersonas.Entidades.ClsPersona>
@{
        ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Listado de personas yea yea</h1>
    <ul>
        @foreach (ClsPersona persona in Model)
        {
            <li>
                @persona.FirstName
            </li>
        }
    </ul>   
</div>