@{
    ViewData["Title"] = "Lista";
}

<div>
    <ul>
        <li>Pokemon Rojo</li>
        <li>Pokemon Cristal</li>
        <li>Pokemon Esmeralda</li>
        <li>Pokemon Perla</li>
        <li>Pokemon Blanco</li>
        <li>Pokemon Negro 2</li>
    </ul>
    @Html.ActionLink("Ir a Home", "Index", "Home")
</div>

