@{
    ViewData["Title"] = "Lista";
}

<div>
    <ul>
        <li>Elemento 1</li>
        <li>Elemento 1</li>
        <li>Elemento 1</li>
        <li>Elemento 1</li>
        <li>Elemento 1</li>
        <li>Elemento 1</li>
    </ul>
    @Html.ActionLink("Ir a Home", "Index", "Home")
</div>

