@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form method="post">
        <label>Nombre: </label>
        <input value="" name="firstName" />
        <label>Apellido: </label>
        <input value="" name="lastName" />
        <label>Edad: </label>
        <input value="" name="age" />
        <button type="submit">Enviar</button>
    </form>
</div>
