@use '@angular/material' as mat;

table{
  @include mat.table-overrides((
    background-color: rgb(250, 215, 255),
    header-headline-color: rgb(34, 0, 10),
    header-headline-weight: bold,
    row-item-label-text-color: rgb(37, 0, 12),
  ));
}

#row {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}