@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Ejercicio 04</h1>
    @Html.ActionLink("Ir a la tabla de multiplicar", "TablaMultiplicar", "Tabla")
</div>
